.app {
  max-width: 1200px;
  margin: auto;
}

.main {
  display: flex;
}

@media only screen and (max-width: 935px) {
  .app {
    width: 90%;
  }

  .main {
    flex-direction: column;
  }
}

.main > *:first-child {
  margin-right: 25px;
}
